*{
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}

img{
    width: 100%;
}

.nav-background{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #fff;
}

.header-logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav a{
    text-decoration: none;
    color: black;
    gap: 40px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.banner-background{
    width: 100%;
    position: relative;
}

.banner{
    background-color: #FFF3E3;
    top: 25%;
    right: 15%;
    width: 35%;
    padding: 2% 2%;
    position: absolute;
}

.banner p{
    font-weight: 500;
    margin: 10px 0;
}

.banner h1{
    font-size: 300%;
    margin: 15px 0;
}

.btn-buynow a{
    border: none;
    border-radius: 2px;
    background-color: #B88E2F;
    color: #FFF3E3;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
}

.browsing{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 5% 0;
}

.browse-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#browse-head {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

#desc-lorem{
    margin: 5% 0 15% 0;
}

.browse-category{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.img-category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-category img{
    border-radius: 15px;
}

.img-category p{
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.products h2{
    margin: 4% 0;
}

.products-list {
    display: flex;
    gap: 0 2rem;
}

.products-list-type {
    background-color:#F4F5F7;
    position: relative;
    display: block;
    overflow: hidden;
}

.product-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #3331314c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.products-list-type:hover .product-overlay{
    opacity: 1;
}

.add-to-cart{
    text-decoration: none;
    background-color: white;
    color: #B88E2F;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.product-action{
    display: flex;
    gap: 20px;
    color: white;
}

.product-action span{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.discount-badge {
    background-color: #E97171;
    color: white;
    border-radius: 50%;
    position: absolute;
    padding: 5% 1%;
    width: 15%;
    top: 5%;
    right: 5%;
    text-align: center;
}

.new-badge {
    background-color: #2EC1AC;
    color: white;
    border-radius: 50%;
    position: absolute;
    padding: 5% 1%;
    width: 15%;
    top: 5%;
    right: 5%;
    text-align: center;
}

.products-name {
    font-weight: bold;
    margin: 5%;
}

.products-blur-name {
    color: #898989;
    margin: 5%;
}

.pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.discount-price {
    font-size: large;
    font-weight: bold;
}

.normal-price {
    text-decoration: line-through;
    color: #898989;
    font-size: small;
}

#btn-showmore {
    text-decoration: none;
    width: 20%;
    padding: 2%;
}

.btn-showmore {
    border: solid 1px #B88E2F;
    color: #B88E2F;
    font-weight: bold;
    text-align: center;
    padding: 5% 0;
}

.room-inspiration{
    background-color: #FFF3E3;
    width: 100%;
    display: flex;
    padding: 3% 0;
    align-items: center;
    justify-content: space-evenly;
}

.room-inspiraiton-details{
    width: 30%;
}

#inspiration-text{
    font-weight: bolder;
    font-size: 250%;
}

#inspiration-desc{
    padding: 5% 0;
    color: #898989;
}

.btn-explore{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#explore-style{
    background-color: #B88E2F;
    padding: 3%;
    width: 30%;
    text-align: center;
}

.inspiration-room-card{
    position: relative;
}

.room-name{
    top: 75%;
    left: 10%;
    background-color:#FFFFFFB8;
    padding: 1rem;
    width: 10rem;
}

#name-room{
    color: #898989;
    margin: 0;
}

#inner-peace{
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

.labeling{
    position: absolute;
    display: flex;
    width: max-content;
    align-items: end;
    bottom: 1.5rem;
    left: 1rem;
}

.room-arrow{
    top: 88.5%;
    right: 30%;
    display: flex;
    background-color: #B88E2F;
}

.inspiration-img{
    position: relative;
    display: flex;
}

.slide-container{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}

.slide-circle{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #898989;
    border-radius: 100%;
}

.slide-active{
    width: 1rem;
    height: 1rem;
    border: solid 2px #B88E2F;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-active div{
    background-color: #B88E2F;
}

.slide-show{
    position: absolute;
    right: 5rem;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.356) 2px 2px 2px;
}

.slide-show a{
    text-decoration: none;
    color: #B88E2F;
    font-size: large;
}

.sharing-setup{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0;
}

.sharing-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gallery{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gallery-img-up{
    display: flex;
    align-items: end;
}

.gallery-img-up img{
    width: 100%;
    height: 100%;
    margin: 0 0.5rem;
}

.gallery-img{
    display: flex;
}

.gallery-img img{
    width: 100%;
    height: 100%;
    margin: 0 0.5rem;
}

.gallery-img-bottom{
    display: flex;
}

.gallery-img-bottom img{
    width: 100%;
    height: 100%;
    margin: 0 0.5rem;
}

.footer{
    padding: 6% 7% 1% 7%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10%;
    margin-bottom: 15%;
}
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.column-title {
    color: #898989;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 1rem;
}

.footer-column ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.newsletter-form {
    display: flex;
    gap: 10px;
}

.newsletter-form input {
    border: none;
    border-bottom: 2px solid #898989;
}

.newsletter-form a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid #898989;
}

.footer-copyright {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

#color-B88E2F{
    color: #B88E2F;
}

#color-898989{
    color: #898989;
}









.shop-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-img img{
    height: 20rem;
    object-fit: cover;
    opacity: 60%;
    filter: blur(2px);
}

.shop-label{
    position: absolute;
    justify-items: center;
}

.nav-filter{
    background-color: #FFF3E3;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.nav-filter div{
    margin: 0 1rem;
}

.filter-left{
    display: flex;
}

.filter-icons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.filter-icons a{
    text-decoration: none;
    color: #898989;
    font-weight: 550;
}

.filter-icons span{
    font-weight: bold;
}

.result-right{
    display: flex;
}

.result{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#result-box{
    background-color: white;
    color: #898989;
    padding: 1rem;
}

#result-box-2{
    background-color: white;
    color: #898989;
    padding: 1rem 4rem 1rem 1rem;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list{
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

#pagination-selected{
    background-color: #B88E2F;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

#pagination-selected a{
    color: white;
    text-decoration: none;
}

#pagination-unselected{
    background-color: #FFF3E3;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

#pagination-unselected a{
    color: black;
    text-decoration: none;
}

.quality-banner{
    background-color: #FFF3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    margin: 4rem 0 0 0;
}

.banner-listing{
    display: flex;
    gap: 5rem;
}

.quality-banner-type{
    display: flex;
    align-items: center;
}

#spacing{
    margin: 0 0.5rem;
    line-height: 2rem;
}







.product-container{
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
    padding: 0 1%;
}

.product-gallery{
    display: flex;
    gap: 3rem;
    padding: 0 7% 0 0;
}

.gallery-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery-list img{
    object-fit: cover;
}

.gallery-box{
    width: 6rem;
    height: 5rem;
    background-color: #FFF3E3;
    border-radius: 10px;
}

.main-wrapper{
    background-color: #FFF3E3;
    width: 28rem;
    height: 28rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.main-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info{
    flex: 1;
    width: 65%;
}

.product-header{
    margin: 2% 0;
    font-size: 300%;
    font-weight: 500;
}

.product-price{
    font-size: 200%;
    font-weight: 400;
    color: #898989;
}

.rating {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;
}

.star-rating{
    display: flex;
}

.star-rating img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
}

#customer-reviews{
    color: #898989;
    font-weight: 500;
}

.product-desc{
    width: 80%;
}
.product-desc p{
    padding: 0.5rem 0;
}

.size{
    margin: 2% 0;
}

.size-option{
    gap: 1rem;
    display: flex;
    margin: 2% 0;
    align-items: center;
}

#size-active{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #B88E2F;
    border-radius: 20%;
}

#size-unactive{
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    background-color: #FFF3E3;
    border-radius: 20%;
}

.color{
    margin: 2% 0;
}

.color-option{
    gap: 1rem;
    display: flex;
    margin: 2% 0;
    gap: 1rem;
    align-items: center;
}

.color-circle-blue{
    background-color: #816DFA;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.color-circle-black{
    background-color: #000000;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.color-circle-golden{
    background-color: #B88E2F;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.product-additional{
    margin: 4% 0;
}

.product-additional-list{
    display: flex;
    gap: 2rem;
    align-items: center;
}