*{
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}

img{
    width: 100%;
}

.nav-background{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #fff;
}

.header-logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav a{
    text-decoration: none;
    color: black;
    gap: 40px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.banner-background{
    width: 100%;
    position: relative;
}

.banner{
    background-color: #FFF3E3;
    top: 25%;
    right: 15%;
    width: 35%;
    padding: 2% 2%;
    position: absolute;
}

.banner p{
    font-weight: 500;
    margin: 10px 0;
}

.banner h1{
    font-size: 300%;
    margin: 15px 0;
}

.btn-buynow a{
    border: none;
    border-radius: 2px;
    background-color: #B88E2F;
    color: #FFF3E3;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
}

.browsing{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 5% 0;
}

.browse-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-category{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.img-category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-category img{
    border-radius: 15px;
}

.img-category p{
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.products h2{
    margin: 4% 0;
}

.products-list {
    display: flex;
    justify-content: space-around;
    gap: 0 5%;
    align-items: center;
}

.products-list-type {
    background-color:#F4F5F7;
    position: relative;
}

.discount-badge {
    background-color: #E97171;
    color: white;
    border-radius: 50%;
    position: absolute;
    padding: 5% 0;
    width: 15%;
    top: 5%;
    right: 5%;
    text-align: center;
}

.new-badge {
    background-color: #2EC1AC;
    color: white;
    border-radius: 50%;
    position: absolute;
    padding: 5% 0;
    width: 15%;
    top: 5%;
    right: 5%;
    text-align: center;
}

.products-name {
    font-weight: bold;
    margin: 5%;
}

.products-blur-name {
    color: #898989;
    margin: 5%;
}

.pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.discount-price {
    font-size: large;
    font-weight: bold;
}

.normal-price {
    text-decoration: line-through;
    color: #898989;
    font-size: small;
}

#browse-head {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

#desc-lorem{
    margin: 5% 0 15% 0;
}

#color-B88E2F{
    color: #B88E2F;
}